#rosterHead {
    height: 43px;
    width: 100%;
    box-shadow: 0 3px 8px -2px rgba(0,0,0,.3);
    margin: 0 0 10px 0;
    padding: 4px 0 0 0;
    position: fixed;
    top: 80px;
    z-index: 10;
    background: #fff;
    /* display: inline; */
}
#rosterHead select {
    text-transform: uppercase;
    width: auto;
}
.form-group{
    width: 250px;
}
    #rosterFooter {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 10px 0 0 60px;
        background: #fff;
        height: 64px;
        z-index: 10;
        border-top: 1px solid #ccc;
    }

        #rosterFooter #btnAddUser {
            position: absolute;
            bottom: 15px;
            right: 200px;
            font-size: 0.85em;
            padding: 7px 15px;
        }
    
        #rosterFooter #btnSaveChanges {
            bottom: 15px;
        }
        .btnSaveRosterChangesDisabled {
            outline: none;
            position: absolute;
            bottom: 10px;
            right: 10px;
            border: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            font-size: 0.85em;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #ddd;
            background-color: gray;
            /*background:transparent;*/
            border-radius: .25rem;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
        }
        
            .btnSaveRosterChangesDisabled,
            .btnSaveRosterChangesDisabled:after,
            .btnSaveRosterChangesDisabled:before {
                padding: 7px 15px;
                -webkit-transition: -webkit-transform 0.75s,background-color .125s;
                -moz-transition: -moz-transform 0.75s,background-color .125s;
                -ms-transition: -ms-transform 0.75s,background-color .125s;
                transition: transform 0.75s,background-color .125s;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
        
                .btnSaveRosterChangesDisabled:after,
                .btnSaveRosterChangesDisabled:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: .25rem;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .greenBtn {
                    background: #c41257!important;
                    color: #fff!important;
                    text-transform: uppercase
                }
               .scroller {
                    overflow-y: scroll;
                    height: 294px;
                     width: 100%;
                    float: left;
                    margin: 0px 0% 0px;
                    border: 1px solid #ccc;
                    overflow-x: hidden;
                    padding-left:0px;
                }
                .scroller li:nth-child(odd) {
                    background: #efefef;
                }
                .scroller li {
                    padding: 3px;
                    cursor: pointer;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    font-weight: bold;
                    list-style-type: none;
                    font-size: 12px;
                }
                .user-details {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 50%;
                    height: 70%;
                    background: #fff;
                    bottom: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                }
                .modal-content{
                    height: 100%;
                }
                .modal-body{
                    height: 74%;
                }
                .modal-footer{
                    border: 0px solid black;
                }
                .form-control{
                    padding: 0px 0px;
                    text-align: center;
                }

                #roster {
                    width: 100%;
                    top: 50px;
                    position: relative;
                    padding: 0 0 50px 0;
                    overflow-y: scroll;
                    height: 450px;
                }
                #rosterScaleHeadings {
                    width: 3624px;
                    background: #fff;
                    height: 50px;
                    position: fixed;
                    top: 116px;
                    left: 17%;
                    margin: 0 0 0 42px;
                    padding: 0 0 0 8px;
                    z-index: 8;
                    border-bottom: 1px solid #aaa;
                    box-shadow: 0 3px 8px -2px rgba(0,0,0,.3);
                }
                #RosterUsers .rosteredname {
                    width: 56%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    float: left;
                    margin: 0 0 0 10px;
                }
                #headings .rosteredname, #headings .rosteredcredits {
                    color: #a6a8ab;
                    font-size: .8em;
                    text-transform: uppercase;
                }
                #RosterUsers p {
                    position: relative;
                }
                #RosterUsers {
                    width: 17%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background: #fff;
                    border-right: 1px solid #ccc;
                    z-index: 9;
                    padding: 50px 0 0 0;
                    height: 450px;
                }
                #RosterUsers span.removeUser {
                    color: red;
                    font-weight: bold;
                    cursor: pointer;
                    float: right;
                    margin: -1px 10px 0 0;
                    float: right;
                    font-family: Verdana;
                }
                .rosterName {
                    padding: 16px 0 0 0;
                    margin: 0;
                    height: 50px;
                    border-bottom: 1px solid #eee;
                }
                #headings {
                    height: 50px;
                    border-bottom: 1px solid #eee;
                    position: fixed;
                    top: 116px;
                    left: 50px;
                    width: 16%;
                    background: #fff;
                    text-transform: uppercase;
                    font-size: .8em;
                    padding: 10px 0 0 0;
                    transition-duration: .4s;
                    -webkit-transition-duration: .4s;
                    z-index: 1;
                }
                #rosterScaleHeadings span {
                    background: #fff;
                    border-right: 1px solid #bbb;
                    padding: 10px 0 0 4px;
                    font-size: .8em;
                    color: #a6a8ab;
                }
                #rosterScaleHeadings span, #rosterScale span {
                    width: 100px;
                    border-right: 1px solid #fff;
                    text-align: left;
                    float: left;
                    height: 100%;
                }
                #rosterScale {
                    width: 3624px;
                    background: #eee;
                    height: 100%;
                    position: fixed;
                    top: 116px;
                    left: 17%;
                    z-index: -1;
                    margin: 0 0 0 42px;
                    padding: 0 0 0 8px;
                }
                .chart-holder {
                    width: 3614px;
                    height: 50px;
                    padding: 16px 0px 0 0px;
                    float: left;
                    margin-top: 0px;
                }
                .chart {
                    position: relative;
                    background: #fff;
                    width: 100%;
                    display: block;
                    height: 20px;
                    border: 1px solid #ddd;
                }
                #InteractiveRoster {
                    width: 83%;
                    left: 17%;
                    position: relative;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    box-shadow: inset 9px 0 6px -7px rgba(0,0,0,.3);
                    padding: 50px 0 0 0;
                }