<div id="rosterHead">
  <div class="container" style="width: 95%;">
    <div class="row">
      <div class='col-sm-2' style="margin-left:-50px;">
          <div class="form-group">
        <select class="form-control" data-ng-model="selectedJobFunction">
          <option [value]="6">Inspecting Public Area</option>
        </select>
        </div>
      </div>
      <div class='col-sm-4'>
          <div class="form-group">
        <select class="form-control" style="width: auto; margin: 0 0 0 10px; line-height: initial;" data-ng-model="selectedShift" ng-init="selectedShift = options[0]">
          <option *ngFor="let opt of shifts" [value]="opt.ShiftId" [selected]="opt.selected == true">{{opt.ShiftName}}</option>
        </select>
        </div>
      </div>
      <div class='col-sm-6' >
        <div class="form-group" style="float:right">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="datepicker" focus style="float: right; margin: -3px 100px 0 0">
      <input type="text" style="height:30px!important;" id="rDate" data-ng-model="rosterDate" ng-change="loadFromServer(1);" />
      <span>
          <img src="../assets/img/icon-calendar.png" />
      </span>
  </div> -->
</div>
<div style="position: fixed; top: 45%; left: 25%; width: 50%; height: 30%; text-align: center;">
  <h1 style="position:relative;top:0;left:0;">Welcome to a new day</h1>
  <span>Click "Add Staff to On Duty" to get started.</span>
</div>
<div id="rosterFooter">
  <button id="btnSaveChanges" class="btnSaveRosterChangesDisabled btnSaveRosterChanges" id="btnSaveChanges" data-ng-disabled="!dirtyUserExists">Save Changes</button>
  <input type="button" id="btnAddUser" class="btn btnMain greenBtn" data-ng-click="setShowDetail(true)" value="Add Staff to On Duty"
  />
</div>