<div class="container">
  <div class="row">
      <nav id='configuration_nav' style="z-index: 19">
          <ul>
              <li routerLinkActive="active">
                  <a routerLink="users" routerLinkActive="active" class='config-menu'>Users
                  </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="roles" routerLinkActive="active" class='config-menu'>Roles
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="zones" routerLinkActive="active" class='config-menu'>Zones/Areas
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="workingarrangment" routerLinkActive="active" class='config-menu'>Working Arrangment
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="jobs" routerLinkActive="active" class='config-menu'>Jobs
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="levelofcleanliness" routerLinkActive="active" class='config-menu'>Level Of Cleanliness
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="translations" routerLinkActive="active" class='config-menu'>Translations
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="interrupt" routerLinkActive="active" class='config-menu'>Interrupt Reasons
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="notes" routerLinkActive="active" class='config-menu'>Notes
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="device" routerLinkActive="active" class='config-menu'>Device
                    </a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="pausereasons" routerLinkActive="active" class='config-menu'>Pause Reasons
                    </a>
              </li>  
              <li routerLinkActive="active">
                  <a routerLink="qrcode" routerLinkActive="active" class='config-menu'>QR Code
                    </a>
              </li>                           
          </ul>
      </nav>  
  </div>
  <div class="row" style="margin-top:80px;">
    <router-outlet></router-outlet>
  </div>
  
</div>
