<div class="container">
  <table class="table table-striped table-hover dt-responsive" style="width:95%">
    <thead>
      <tr>
        <th>REASONS</th>
        <th>BREAK</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of interruptreasons">
        <td>{{item.ReasonDesc}}</td>
        <td>{{item.IsBreak}}</td>
        <td>
          <a class="glyphicon glyphicon-pencil editrsn" data-target="#myModal-rsnedit" href="javascript:void(0);"></a>
          <a class="glyphicon glyphicon-trash deletersn" data-target="#myModal-rsnedit" href="javascript:void(0);"></a> 
        </td>
      </tr>
    </tbody>
  </table>
</div>