<div class="container">
  <table class="table" style="width:95%">
    <thead>
      <tr>
        <th>REASONS</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of notes">
      <tr>
        <td>{{item.Note}}</td>
        <td>
          <a class="glyphicon glyphicon-pencil editrsn" data-target="#myModal-rsnedit" href="javascript:void(0);"></a>
          <a class="glyphicon glyphicon-trash deletersn" data-target="#myModal-rsnedit" href="javascript:void(0);"></a> 
        </td>
      </tr>
    </tbody>
  </table>
</div>